/* Color palette */
:root {
  --primary-bg: #eceff4;
  --primary-text: #3b4252;
}

/* Apply background and text colors */
.reveal {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: Arial;
}



/* Base text size for paragraphs and list items */
.reveal p,
.reveal li {
  font-size: 0.95em;
  line-height: 1.05;
  font-family: Arial;
}

/* Base text size for table content */
.reveal td,
.reveal th {
  font-size: 0.95em;
  line-height: 1.05;
  font-family: Arial;
}


/* H1 on normal slides */
.reveal h1,
.reveal .title-slide h1 {
  font-size: 0.8em !important;
  line-height: 1;
  color: #4c566a;
  font-family: Arial;
}

.reveal h2,
.reveal h3{
  color: #3b4252;
  font-family: Arial;
}


.reveal strong { color: #2e3440; font-family: Arial;}
.reveal em { color: #000000; font-family: Arial;}



